<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle %></title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>

      <h1>Home Page</h1>
      <form action="/" method="post">
        <input type="text" placeholder="Enter a Programming language name" name="progLang">
        <button type="submit">Add it</button>
      </form>

      <ul>
        <%if(progLang.length>0){%>
          <%for(let i=0;i<progLang.length;i++){%>
        <li><%=progLang[i]%></li>
        <%}%>
        <%}else{%>
        <p>No Data available</p>
        <%}%>
      </ul>
    </main>
    <footer>
      <p>Copyright &copy; 2024</p>
    </footer>
  </body>
</html>
